GameOfHistory/XML _FILE/DTD_SCHEMA/ARTICOLO_STRUTTURA.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT RECORD_ARTICOLO (ARTICOLO*)>
<!ELEMENT ARTICOLO (Nome, Prezzo, Descrizione, IMG+)>

<!ATTLIST ARTICOLO 
          ART_ID ID #REQUIRED>

<!ATTLIST ARTICOLO           
          Categoria CDATA #REQUIRED>

<!ELEMENT Nome (#PCDATA)>
<!ELEMENT Prezzo (#PCDATA)>
<!ELEMENT Descrizione (#PCDATA)>


<!ELEMENT IMG (Percorso, Nome_IMG, Estensione)>
<!ELEMENT Percorso (#PCDATA)>
<!ELEMENT Nome_IMG (#PCDATA)>
<!ELEMENT Estensione (#PCDATA)>
